@model CommanLayer.TicketCombine


<section class="t-Area">
    <div class="container">
        <form method="post" asp-controller="Home" asp-action="CreateDescription">
            <div class="row">

                <div class="col-md-12">
                    <div class="t-Head">
                        <div class="t-Heading">
                            <h1>
                                My Tickets
                            </h1>
                        </div>
                        <div class="t-Btn">
                            <ul>
                                <li><a asp-controller="Home" asp-action="CreateTicket">Create Ticket</a></li>
                                <li><a asp-controller="Home" asp-action="Index">View Tickets</a></li>
                            </ul>
                        </div>
                    </div>
                    <table class="table table-bordered">

                        <tr class="table-header">
                            <th class="cell">Ticket Subject</th>
                            <th class="cell">Ticket Number</th>
                            <th class="cell">Created On</th>

                        </tr>

                        @foreach (var ticketData in Model.ticketCLs)
                        {
                            <tr class="active">
                                <td>@ticketData.Title</td>
                                
                                <td><span id="">@ticketData.TicketNo</span><input asp-for="TicketNo" type="hidden" id="ticketno" value="@ticketData.TicketNo" /></td>
                                <td>@ticketData.CreatedOn</td>
                            </tr>

                        }
                    </table>

                    <div class="my-tickets-2">
                        @foreach (var TDetails in Model.ticketDescriptions)
                        {
                            <div class="bOx-tkt">
                                <div class="bx-tkt-head">
                                    <div class="tKT-n">@User.Identity.Name - <span>Admin</span></div>
                                    <div class="tKT-d"><h5>@TDetails.CreatedOn</h5></div>
                                </div>
                                <div class="tKt-txt">
                                    @*<h4>Hello Team,</h4>*@
                                    <p>@TDetails.Description</p>
                                </div>
                                <div class="tKt-img">
                                    @*<i class="fa fa-paperclip fa-rotate-90"></i> laxmi.png*@
                                </div>
                            </div>

                        }

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="create-ticket">

                        <div class="t-Form border-0 mt-25">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Select Sender</label>
                                        <div class="form-group ">
                                            <select class="form-control" asp-for="UserName"  id="username" required="" title="Select Servie">

                                                <option value="@User.Identity.Name">(@User.Identity.Name)</option>

                                            </select>
                                            @*<input type="hidden" asp-for="TicketNo" value="" />*@
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Enter Your Reply</label>

                                        <input type="text" asp-for="Description" id="description" class="form-control " placeholder="Enter Your Reply" required="">
                                        <p>Note: Please dont not paste copied images into the editor. To add images, kindly upload them using the picture upload </p>

                                    </div>

                                </div>


                            </div>
                            <hr>
                            <div class="form-group text-right">
                                <div class="c-Btn">
                                    <button type="submit" class="btn-tkt-2 mr-">
                                        <img src="~/assets/images/cross.png">
                                        Close Ticket
                                    </button>
                                    <button type="submit" id="" class="btn-tkt mr--">Post Reply</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>

    </div>
    
</section>

<<!-- table area end		 -->